# Application
PORT=3000
NODE_ENV=development

# Database
DB_SERVER=sql-server-dev.database.windows.net
DB_NAME=db-server-dev
DB_USER=sqladmin
DB_PASSWORD=<stored-in-keyvault>

# Azure
KEY_VAULT_NAME=kv-dev

# Monitoring
APPLICATIONINSIGHTS_CONNECTION_STRING=<app-insights-connection-string>